// Fonts
@import url("https://fonts.googleapis.com/css?family=Audiowide");
$main-font: "Audiowide";

@import url("https://fonts.googleapis.com/css?family=Glegoo");
$article-text: "Glegoo";

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
$accent-text: "Press Start 2P";

// colors
$background-color: #343840;
$card-color: #111919;
$text-color: #dbdbdb;
$accent-color: #d17002;

$hp-red: #c7390a;
$hp-green: #39c70a;
$hp-blue: #0a98c7;
$hp-yellow: #aaff30;
$snes-purple: #4f43ae;
$snes-blue: #b5b6e4;
$snes-gray: #908a99;
$snes-lite: #cec9cc;
